* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	font-family: Courier;
  	color: #011627; 
 }
#navegaçao{
	background: #496DDB;
	/*border-bottom: 1px solid red;*/
	height: 60px;
}
#area{
	font-size: 19px;
	width: 900px;
	margin: 0 auto;
	padding: 10px;
	/*border: 1px solid black;*/
}
#logo{
	color: #F9DC5C;
	text-align: center;
	text-underline-position: none;
	text-shadow: 2px 2px #F5B700;
}
#cor{
	color: #F27168;
	text-shadow: 2px 2px #F24236;
}
.container{
	width: 600px;
	height: 500px;
	background-color: #F7FFF6;
	margin: 0 auto 0 auto;
	margin-top:20px; 
	border-radius: 10px;
	font-size: 22px;
}
#container2{
	width: 600px;
	height: 200px;
	background-color: #759EB8;
	margin: 0 auto 0 auto;
	margin-top: 20px; 
	padding-top: 15px;
	border-radius: 10px;
}

#imgsa{
	margin: 5px;
	height: 300px;
    width: 580px;
    border-radius: 10px;
}

#imgsb{
	margin: 90px;
	height: 100px;
    width: 400px;
    border-radius: 10px;
}

#tabela tr {
	float: center;

}
#tabela td {
	width:40px;
	height:40px;
	padding:10px;
	padding-left: 30px;
}

#perg{
	float: center;
}

button{
	width: 150px;
	height: 75px;
	background-color: #C6D8D3;
	border-color: grey;
	font-size: 16px;
}

#gerarQuestao {
	background-color: #183f76;
	width: 600px;
	padding-top: 15px;
	padding-bottom: 0px;
	height: 100px;
	margin: 0 auto 0 auto;
	border-radius: 10px;
}

#gerarQuestao button {
	font-size: 22px;
	/*color: white;*/
	border-color: grey;
	background-color: #759EB8;
	border-radius: 10px;	
}

body{
	background-color: #EFE9F4;
}